---
layout: default
title: zegoggl.es
---
%h2
  About
%p
  Hallo. I'm Jan Berkel, a software developer based in
  Berlin, working at <a href="http://soundcloud.com">SoundCloud</a>.

  This page needs an update.

%p
  Some projects I have worked on / am currently working on:
  %ul
    %li
      =link_to 'One-Click-Organisations', 'http://oneclickorgs.com/'
    %li
      =link_to 'SMS Backup+', 'http://github.com/jberkel/sms-backup-plus'
    %li
      =link_to 'AnkiDroid', 'http://code.google.com/p/ankidroid/'

%h2 tag, you're it

#delicious-cloud
  %script{ :type => "text/javascript", :src => "http://delicious.com/feeds/js/tags/delicieux?icon;count=25;size=12-25;color=87ceeb-0000ff;title=" }

#last-fm-cloud
  %h2
  %a{:href=>'http://lastfm-wordle.heroku.com'}
    %img{:src =>"http://lastfm-wordle.heroku.com/cdr_jameson.png", :width=>"100%"}
