---
layout: default
title: zegoggl.es
---
%h2
  About
%p
  Hallo. I'm Jan Berkel, a software developer (mostly ruby at the moment) based in
  %span{:style=>"text-decoration: line-through;"}
    London
  Berlin.

-#%p
-#  Some other projects I have worked on / currently working on:
-#
-#  %ul
-#    %li
-#      =link_to 'One-Click-Organisations', 'http://oneclickor.gs/'
-#    %li
-#      =link_to 'Stutterbox', 'http://www.villainous.biz/wordpress/2008/03/26/stutterbox-final-presentation/'
-#    %li
-#      =link_to 'Lighthive', 'http://www.dezeen.com/2007/05/24/lighthive-by-alex-haw/'

#delicious-cloud
  %h3
    my delicious tags
  %script{ :type => "text/javascript", :src => "http://delicious.com/feeds/js/tags/delicieux?icon;count=25;size=12-25;color=87ceeb-0000ff;title=" }

%p

#last-fm-cloud
  %h3
    my last.fm tags
  %a{:href=>'http://lastfm-wordle.heroku.com'}
    %img{:src =>"http://lastfm-wordle.heroku.com/cdr_jameson.png", :width=>"100%"}